

<header class="header-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="branding">
        <a routerLink = "main" (click)="this._movie.getPopularData()" class="nav-link">
           <clr-icon shape="film-strip"  class="is-inverse"></clr-icon>
            <span class="title">Flick Finder</span>
        </a>
    </div>
        <form class="search">
                <button type="button" class="btn btn-icon btn-primary" id="search-button" (click)=getMovieSearch(queryInput.value)>
                    <clr-icon shape="search"></clr-icon>
                 </button>    
                 <input type="text" [(ngModel)]="query" name="q" #queryInput  (keydown.enter)="getMovieSearch(queryInput.value)" placeholder="Search for keywords...">
        </form>    
        <!--div showing login and register if user isn't logged in-->
    <div class="header-actions clr-col-12">
        <div *ngIf="_appUser.notLoggedIn; else LoggedIn">
            <a routerLink="login" class="nav-link nav-icon" id="login">
                <span id="loginWord"> Login </span>  
                <clr-icon shape="login" id="loginShape"> </clr-icon>
            </a> 
            <a routerLink="register" class="nav-link nav-icon">
                <span id="registerWord"> Register </span>
                <clr-icon shape="pencil" id="registerShape"> </clr-icon>
            </a>
        </div>
        <!--header display of logged in user's name and dropdown menu-->
        <ng-template #LoggedIn>
            <div class="header-actions">
                <div id="userName" *ngIf="_appUser.userInfo.userData"> {{_appUser.userInfo.userData.firstName}} {{_appUser.userInfo.userData.lastName}}</div>
                <clr-dropdown>
                    <button class="nav-icon" clrDropdownTrigger>
                        <clr-icon shape="user"></clr-icon>
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                        <a routerLink="user-profile" clrDropdownItem>View Profile</a>
                        <a routerLink="main" (click)="_appUser.logoutUser()" clrDropdownItem>Log out</a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </ng-template>
    </div>
</header>
