.header-4 {
    position: fixed; 
    top:0px;
    width: 100%;
    z-index: 100;
}

#login{
    margin-left: -30%
}

#loginWord{
    margin-left: -50%;
}

#registerWord{
    margin-left: -50%;
}

#loginShape{
    margin-left:-20%;
}

#registerShape{
    margin-left: 10%;
}

#userName{
    margin-top: 20px;
} 