

<header class="header-4">
    <div class="branding">
        <a routerLink = "main" class="nav-link">
           <clr-icon shape="film-strip" class="is-inverse"></clr-icon>
            <span class="title">Movie Finding App</span>
        </a>
    </div>
    <app-search></app-search>
    <div class="header-actions">
        <a routerLink = "login" class="nav-link nav-icon">
            <span id = "loginWord"> Login </span>
            <clr-icon shape="login"> </clr-icon>
        </a>
    </div>
</header>

