.header-4 {
    position: fixed; 
    top:0px;
    width: 100%;
    z-index: 100;
}

#loginWord{
    position: fixed; 
    margin-left: -100px;
}

#registerWord{
    position: fixed; 
    margin-left: -40px;
}

#loginShape{
    margin-left:-150px;
}

#registerShape{
    margin-left: -90px;
}

#logoutBtn{
    margin-top: 14px;
}

#logoutIcon{
    margin-top:14px;
}