<app-sidebar></app-sidebar>

<h1>{{this._movie.displayHeader}}</h1>
<div class="row" *ngIf="_movie.movies">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let result of _movie.movies.results; let i = index">
        <div class="card">
            <div class="card-img">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{result.poster_path}}" alt="..." />
            </div>
            <div class="card-block">
                <p class="card-text">
                  <strong>{{result.original_title}}</strong> <br>
                  <strong>Release Date:</strong> {{result.release_date}} <br>
                  <strong>Overview:</strong>{{result.overview}} <br>
                  <strong>User Rating:</strong>{{result.vote_average}}/10
                </p>
            </div>
            <div class="card-footer" *ngIf = "_appUser.loggedIn">
                <button class="btn btn-sm btn-link" (click)=addMovie(result)>Add movie to favorites</button>
                <div class="error" *ngIf="result.message === 'You have already favorited this movie'">
                    <div class="alert alert-info">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                                </div>
                                <span class="alert-text">{{result.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error" *ngIf="result.message === 'You favorited this movie'">
                    <div class="alert alert-success">
                        <div class="alert-items">
                            <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                                </div>
                                <span class="alert-text">{{result.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
