
<div class="login-wrapper">
        <form class="login">
            <section class="title">
                <h3 class="welcome">Register for</h3>
                <clr-icon shape="film-strip" size="60"></clr-icon>            
                Flick Finder 
            </section>
            <div class="error" *ngIf="_appUser.error.message">
                <div class="alert alert-warning">
                    <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                            </div>
                            <span class="alert-text">{{_appUser.error.message}}</span>
                        </div>
                    </div> ("api query", query)
                </div>
            </div>
            <div class="login-group">
                <input [(ngModel)]="userData.firstName" [ngModelOptions]="{standalone: true}" type="text" placeholder="First name"/>
                <input [(ngModel)]="userData.lastName" [ngModelOptions]="{standalone: true}" type="text" placeholder="Last name"/>
                <input [(ngModel)]="userData.email" [ngModelOptions]="{standalone: true}" type="email" placeholder="email"/>
                <input [(ngModel)]="userData.password" [ngModelOptions]="{standalone: true}" type="password" placeholder="password"/>
                <button type="submit" class="btn btn-primary" (click)="doRegister()">Register</button>
                <a routerLink (click)="goToLogin()" class="nav-link nav-icon">Already have an account? Click here</a>
            </div>
        </form>
    </div>